:root {
    background-image: url("../images/home_image.jpg");
    background-size: cover;
    background-attachment: fixed;
}

h1 {
    margin-top: 50vh;
    color: white;
    font-size: 4em;
    margin-left: 10vw;
    font-family: "Playfair Display";
}

#content {
    height: 100%;
    font-size: 1em;
    background-color: white;
    padding-left: 10vw;
    padding-right: 10vw;
    padding-top: 2vh;
    padding-bottom: 10vh;
}

h2 {
    font-family: "Playfair Display";
    font-size: 2em;
}

p {
    font-size: 1.5em;
}

.news {
    display: grid;
    grid-template-columns: 1fr 3fr;
    width: 80vw;
    margin: auto;
    height: 20vw;
    box-shadow: 3px 3px 16px black;
    margin-top: 5vw;
    cursor: pointer;
}

.news > .image {
    grid-area: 0 / 1;
    overflow: hidden;
}

.news > .image > img {
    height: 100%;
    width: auto;
}

.news > .text {
    grid-area: 1 / 2;
    padding-left: 3vw;
    padding-right: 3vw;
}

.news > .text > h3 {
    font-size: 2em;
    font-family: "Playfair Display";
}

#contact {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
    box-shadow: 3px 3px 16px black;
    margin-top: 5vw;
}

#contact > img {
    grid-column: 1 / span 1;
    width: 30vw;
}

#contact > div {
    grid-column: 2 / span 2;
    margin-top: 0px
}

#contact > div > * {
    margin: 50px;
    margin-bottom: 0px;
}

#contact > div > p {
    margin-top: 20px;
    margin-bottom: 0;
}

#contact > div > span {
    margin-right: 10px;
}

#contact > div > form {
    display: grid;
    grid-template-columns: 1fr 2fr;
    font-family: "Playfair Display";
    font-size: 1.5em;
}

#contact > div > form > div > input, textarea {
    font-family: 'Times New Roman', Times, serif;
}

#contact > div > form > div > textarea {
    width: 25vw;
    height: 20vw;
    max-width: 25vw;
    max-height: 20vw;
    font-size: 0.75em;
    padding: 10px;
}

#contact > div > form > div > input {
    padding: 10px;
    width: 10vw;
    max-width: 10vw;
    height: 1.25vw;
    font-size: 0.75em;
}

#contact > div > form > div > #submit {
    height: 50px;    
    margin-top: auto;
    border: none;
    border-radius: none;
    background-color: var(--dark_red);
    color: white;
    font-family: "Playfair Display";
    cursor: pointer;
    width: 12.5vw;
}

#contact > div > form > div > #submit:hover {
    background-color: var(--darker_red)
}
