@import url('https://fonts.googleapis.com/css2?family=Courier+Prime&family=Playfair+Display&display=swap');

:root {
    --dark_red: #cc0000;
    --darker_red: #aa0000;
  }
  
body {
    margin: 0;
    padding: 0;
}

.toolbar {
    top: 0;
    display: flex;
    justify-content: right;
    align-items: center;

    background-color: var(--dark_red);
    position: fixed;
    height: 10vh;
    width: 100%;
    box-shadow: 3px 3px 16px black;
}

.toolbar > button {
    height: 100%;
    width: 10vw;
    margin: 1vw;
    margin-left: 0px;
    margin-right: 0px;

    font-family: "Playfair Display";
    font-weight: bold;
    font-size: 1.5em;
    color: white;
    background-color: transparent;
    border: none;
    cursor: pointer;

}

.toolbar > button:hover {
    background-color: var(--darker_red);
}

.toolbar > .home {      
    margin-right: auto;
}

.toolbar > .home > img {
    height: 16vw;
    margin-left: -3vw;
    margin-top: 5vw;
}

p {
    color: gray;
}

#contact {
    box-shadow: 3px 3px 16px gray;
    margin-top: 5vw;
    height: 45vw;
    display: grid;
    grid-template-columns: 1fr 2fr;
}

#contact > img {
    height: 45vw;
    float: left;
}

#contact > div > * {
    margin: 50px;
    margin-bottom: 0px;
}

#contact > div > p {
    padding-top: 0.5em;
}

#contact > div > p > span {
    margin-right: 25px;
}

#contact > div > h2 {
    float: left;
}

#contact > div > form {
    font-family: "Playfair Display";
    font-size: 1.5em;
    margin-right: 25px;
    margin-top: 10px;

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 3fr;
}

#contact > div > form > * {
    margin-left: 1px;
}

#contact > div > form > #textarea {
    grid-column: 1 / span 2;
    grid-row: 2 / span 1;
    height: 20vw;
    max-height: 20vw;
}

#contact > div > form > div > input, textarea {
    font-family: 'Times New Roman', Times, serif;
}

#contact > div > form > div > textarea {
    width: calc(38vw + 6px);
    height: 15vw;
    font-size: 0.75em;
    padding: 5px;
    resize: none;
}

#contact > div > form > div > input {
    padding: 5px;
    width: 20vw;
    max-width: 18vw;
    height: 1.25vw;
    font-size: 0.75em;
}

form > #submit {
    height: 50px;    
    border: none;
    border-radius: none;
    background-color: var(--dark_red);
    color: white;
    font-family: "Playfair Display";
    font-size: 1em;
    cursor: pointer;
    width: 12.5vw;
}

form > #submit:hover {
    background-color: var(--darker_red)
}
